.appbar.extended.dense
  .main-bar
    a.menu-btn.btn-icon
      i.material-icons &#xE5D2;
    a.brand-logo.extended-title(href='#!') Logo
    ul.right
      li.icon
        a.btn-icon
          i.material-icons more_vert
  .extended-bar
    h4 extended