.slide-out.large-header#side-nav
  .slide-out-header
    .avatars-imgs
      
    .avatar-info
      .avatar-name baraa mashaal
      .avatar-email baraamashaal@managit.com
  .slide-out-body
  .slide-out-footer

  ul
    li
      a.closeOnSelect(href='#!') First Sidebar Link
    li
      a(href='#!') Second Sidebar Link
    li.no-padding
      ul.collapsible.collapsible-accordion
        li
          a.collapsible-header
            | Dropdown
            i.mdi-navigation-arrow-drop-down
          .collapsible-body
            ul
              li
                a.closeOnSelect(href='#!') First
              li
                a(href='#!') Second
              li
                a(href='#!') Third
              li
                a(href='#!') Fourth
a#sidenav-init-btn(href='#', data-activates='side-nav') ssssssss
