extend ../layouts/master
block content
  a(href='#',aria-controls='dropdown')

  ul#dropdown.dropdown-content
    li
      a(href='##') sasasas
    li
      a(href='##') sasasas
    li
      a(href='##') sasasas
    li
      a(href='##') sasasas
    li
      a(href='##') sasasas
    