doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title manag it
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/material-design-icons/iconfont/material-icons.css')
    // endbower
    // endbuild
  body
    header
      block header
        //- include ../partials/appbar
        //- include ../partials/sidenav
    main
      #app-content.container-fluid
        block content
    footer#app-footer
      block footer
        //- include ../partials/footer



    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/jquery-ui/ui/widget.js')
    script(src='/bower_components/Materialize/js/initial.js')
    script(src='/bower_components/Materialize/js/jquery.easing.1.3.js')
    script(src='/bower_components/Materialize/js/animation.js')
    script(src='/bower_components/Materialize/js/velocity.min.js')
    script(src='/bower_components/Materialize/js/hammer.min.js')
    script(src='/bower_components/Materialize/js/jquery.hammer.js')
    script(src='/bower_components/Materialize/js/global.js')
    script(src='/bower_components/Materialize/js/collapsible.js')
    script(src='/bower_components/Materialize/js/dropdown.js')
    script(src='/bower_components/Materialize/js/leanModal.js')
    script(src='/bower_components/Materialize/js/materialbox.js')
    script(src='/bower_components/Materialize/js/parallax.js')
    script(src='/bower_components/Materialize/js/tooltip.js')
    script(src='/bower_components/Materialize/js/waves.js')
    script(src='/bower_components/Materialize/js/toasts.js')
    script(src='/bower_components/Materialize/js/sideNav.js')
    script(src='/bower_components/Materialize/js/scrollspy.js')
    script(src='/bower_components/Materialize/js/forms.js')
    script(src='/bower_components/Materialize/js/slider.js')
    script(src='/bower_components/Materialize/js/cards.js')
    script(src='/bower_components/Materialize/js/chips.js')
    script(src='/bower_components/Materialize/js/pushpin.js')
    script(src='/bower_components/Materialize/js/buttons.js')
    script(src='/bower_components/Materialize/js/transitions.js')
    script(src='/bower_components/Materialize/js/scrollFire.js')
    script(src='/bower_components/Materialize/js/date_picker/picker.js')
    script(src='/bower_components/Materialize/js/date_picker/picker.date.js')
    script(src='/bower_components/Materialize/js/character_counter.js')
    script(src='/bower_components/Materialize/js/carousel.js')
    script(src='/bower_components/css-element-queries/src/ResizeSensor.js')
    script(src='/bower_components/material-avatar/material-avatar.js')
    script(src='/bower_components/material-avatar/material-avatar.min.js')
    // endbower
    // endbuild
    // build:js scripts/framwork.js
    
    // endbuild
    // build:js scripts/main.js
    //- script(src='scripts/wrap-intro.js')
    script(src='scripts/app.js')
    script(src='scripts/appbar.js')
    script(src='scripts/slideOut/slide_out.js')
    script(src='scripts/tabs/tabs.js')
    //- script(src='scripts/wrap-end.js')
    // endbuild
